<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cmyb">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMyB"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CMyB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Principal Menu Activity -->
        <activity
            android:name=".PrincipalMenuActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CMyB" />

        <!-- Billetes Activity -->
        <activity
            android:name=".BillsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CMyB" />

        <!-- Coins Activity -->
        <activity
            android:name=".CoinsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CMyB" />

        <!-- Bills and Coins Activity -->
        <activity
            android:name=".BillsAndCoinsActivity"
            android:exported="true"
            android:label="CMyB"
            android:theme="@style/Theme.CMyB" />

        <!-- Summary Activity -->
        <activity
            android:name=".SummaryActivity"
            android:exported="true"
            android:label="CMyB"
            android:theme="@style/Theme.CMyB" />

    </application>

</manifest>























